body {
  background-color: #333;
  color: #fff; }

.fa {
  padding: 0.25rem;
  font-size: 1.875rem;
  border-radius: 5px; }

.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.8; }

.seccion-inicio {
  background: url("../img/inicio.jpeg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 43.75rem; }

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  min-height: 43.75rem;
  top: 0;
  left: 0;
  width: 100%; }

.inicio-contenido {
  padding-top: 9.375rem; }
  .inicio-contenido .fa {
    color: #008ed6;
    background-color: #fff; }

.card-form {
  opacity: 0.8; }

.boton-inicio:hover {
  cursor: pointer;
  color: #008ed6; }

.boton-compartir:hover,
.boton-crear:hover {
  color: #004a70; }

.boton-enviar-modal,
.boton-footer {
  cursor: pointer; }

.explorar-section .fa {
  color: #fff;
  background-color: #333; }

.crear-section .fa {
  background-color: #008ed6;
  color: #fff; }

.compartir-section .fa {
  background-color: #004a70;
  color: #fff; }
