$color-fondo: #333;
$color-fuente: #fff;
$color-primario: #008ed6;
$dark-overlay: #000;
$color-blanco: #fff;
$icon-size: 1.875rem;

body {
  background-color: $color-fondo;
  color: $color-fuente;
}

.fa {
  padding: 0.25rem;
  font-size: $icon-size;
  border-radius: 5px;
}

.navbar {
  border-bottom: $color-primario 3px solid;
  opacity: 0.8;
}

.seccion-inicio {
  background: url('../img/inicio.jpeg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 43.75rem;
}

.dark-overlay {
  background-color: rgba($dark-overlay, .7);
  position: absolute;
  min-height: 43.75rem;
  top: 0;
  left: 0;
  width: 100%;
}

.inicio-contenido {
  padding-top: 9.375rem;

  .fa {
    color: $color-primario;
    background-color: $color-blanco;
  }
}

.card-form {
  opacity: 0.8;
}

.boton-inicio {
  &:hover {
    cursor: pointer;
    color: $color-primario;
  }
}

.boton-compartir,
.boton-crear {
  &:hover {
    color: darken($color-primario, 20%);
  }
}

.boton-enviar-modal,
.boton-footer {
  cursor: pointer;
}

.explorar-section {
  .fa {
    color: $color-blanco;
    background-color: $color-fondo;
  }
}

.crear-section {
  .fa {
    background-color: $color-primario;
    color: $color-blanco;
  }
}

.compartir-section {
  .fa {
    background-color: darken($color-primario, 20%);
    color: $color-blanco;
  }
}
